:root {
    /* --background: #FFFCF9; */
    --background: hsl(140, 80%, 75%);
    --background-darker: hsl(140, 80%, 70%);
    --primary: hsl(24, 80%, 51%);
    --primary-lighter: hsl(24, 80%, 95%);
    /* --secondary: #8bf2ae; */
    --secondary: hsl(184, 80%, 60%);
    /* --accent: #48e1eb; */
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family: "Rubik Iso", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

#header {
    background-color: var(--background);
    width: 100vw;
    margin: 0;
    padding: 0px;
    text-align: center;
    color: var(--primary);
    font-weight: 800;
    font-size: xx-large;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.selectionContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 75vw;
    border-radius: 4vh;
}

.choiceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

button {
    border-radius: 4vh; 
    border: 0.5vh solid var(--primary-lighter);
    padding: 8px;
    margin: 8px;
    background-color: var(--primary-lighter);
    transition-duration: 100ms;
}

button:hover {
    background-color: var(--primary);
    border: 0.5vh solid var(--primary);
    box-shadow: 2px 4px 2px black;
}

img {
    height: 10vh;
    width: auto;
}