:root {
    --background: hsl(140, 80%, 75%);
    --background-darker: hsl(140, 80%, 70%);
    --primary: hsl(24, 80%, 51%);
    --primary-lighter: hsl(24, 80%, 95%);
    --secondary: hsl(184, 80%, 60%);
}

@media (min-width: 48rem) {
    .gameContainer {
        max-width: 75vw;
    }
}

body {
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family: "Rubik Iso", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.header {
    background-color: var(--background);
    height: 30vh;
    width: 100%;
    margin: 0;
    padding: 0px;
    color: var(--primary);
    font-weight: 800;
    font-size: xx-large;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
}

.gameContainer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0;
}

.selectionContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-radius: 4vh;
}

button {
    border-radius: 4vh; 
    border: 0.5vh solid var(--primary-lighter);
    padding: 8px;
    margin: 8px;
    background-color: var(--primary-lighter);
    transition-duration: 100ms;
}

button:hover {
    background-color: var(--primary);
    border: 0.5vh solid var(--primary);
    box-shadow: 2px 4px 2px black;
    color: var(--primary-lighter);
}

.resultsContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-evenly;
}

.startButton {
    font-size: xx-large;
    font-family: "Rubik Iso", system-ui;
    font-weight: 600;
}

.computerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.computerChoice {
    border-radius: 4vh; 
    border: 0.5vh solid var(--secondary);
    padding: 8px;
    margin: 8px;
    background-color: var(--secondary);
}

.roundCount {
    font-size: x-large;
    margin: 0;
}

.score {
    margin: 0;
}

img {
    height: 10vh;
    width: auto;
}